@model LoginViewModel

<div>
    <form method="post">
        <div>
            <label asp-for="Username"></label><br />
            <input asp-for="Username" />
        </div>

        <div>
            <label asp-for="Password"></label><br />
            <input asp-for="Password" />
        </div>

        <input type="submit" value="Post" />
    </form>
</div>

@section Scripts {
    await Html.RenderPartialAsync("_ValidationScriptsPartial");
}