@using Microsoft.AspNetCore.Identity
@using System.Security.Claims;

@inject SignInManager<AppUser> SignInManager
@inject UserManager<AppUser> UserManager

@{  
    AppUser UserObj = null;
    if (SignInManager.IsSignedIn(User))
    {
        UserObj = await UserManager.FindByNameAsync(User.Identity.Name);

    }
}

<ul class="navbar-nav">
    @if (SignInManager.IsSignedIn(User))
    {

        <li class="nav-item">
            <a id="manage" class="nav-link text-dark"
               asp-controller="account" asp-action="index" asp-route-username="@UserObj.UserName">
                @UserObj.FirstName
            </a>
        </li>
        <li class="nav-item">
            <a id="manage" class="nav-link text-dark" asp-controller="auth" asp-action="logout">Logout</a>
        </li>
    }
    else
    {
        <li class="nav-item">
            <a class="nav-link text-dark" id="register" asp-controller="auth" asp-action="Register">Register</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" id="login" asp-controller="auth" asp-action="Login">Login</a>
        </li>
    }
</ul>
